<form method="POST" class="mt-5" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text"
               value="<%= book.title %>"
               name="title"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">Description</label>
        <textarea
                rows="3"
                name="description"
                class="form-control"
                id="inputDesc"
        ><%= book.description %></textarea>
    </div>

    <div class="form-group">
        <label for="inputAuthors">Authors</label>
        <textarea
                rows="3"
                name="authors"
                class="form-control"
                id="inputAuthors"
        ><%= book.authors %></textarea>
    </div>

    <div class="form-group">
        <label for="inputFavorite">Favorite</label>
        <textarea
                rows="3"
                name="favorite"
                class="form-control"
                id="inputFavorite"
        ><%= book.favorite %></textarea>
    </div>

    <div class="form-group">
        <label for="formFile">fileBook</label>
        <input name="fileBook" class="form-control" type="file" id="formFile">
    </div>

    <div class="form-group text-right ">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>