<%- include('../partials/layout-start', {title: title}) %>

<h1 class="text-center"><%= title %></h1>

<div class="row">
    <div class="col-sm-6 mx-auto">
        
        <form method="POST" class="mt-5">
            <div class="form-group">
                <label for="inputLogin">Login</label>
                <input type="text"
                       name="login"
                       value=""
                       class="form-control"
                       id="inputLogin">
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="text"
                       name="password"
                       class="form-control"
                       value=""
                       id="inputPassword">
            </div>
        
        
            <div class="form-group text-right ">
                <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
            </div>

        </form>

    </div>
</div>

<%- include('../partials/layout-end') %>